<!-- Shopping Cart -->
<div class="container productMargin">
    <h6 class="shoppingCartHeading">Shopping Cart</h6>
    <ul class="list-unstyled row  list-group-flush" *ngFor="let cartdata of cartData; let i = index">
        <li class="list-item col-sm-2"  (click)="onClickview(cartdata.product._id)">
            <!-- <img src="../../assets/images/shopping_cart1.png" class="imgProduct"> -->
            <img class="productImgWidthHeight" id="cartImg"[src]="cartdata.product.images[0].liveURL? cartdata.product.images[0].path : urlprefix + '/' + cartdata.product.images[0].path + ''" />
        </li>
        <li class="list-item col-sm-4">
            <h6 class="productHeading"  (click)="onClickview(cartdata.product._id)">{{ cartdata.product.productName }}</h6>
            <div class="starReview">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>&nbsp;&nbsp;&nbsp;1,091 ratings | 274 reviews
            </div>
            <div class="orderDelivery"><span class="stock">In Stock</span>, order before 23.59 for delivery tomorrow.
            </div>
        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Quantity</h6>
            <form>
                <div class="form-group">
                        <select class="custom-select form-control" id="quantity1">
                                <option value="" selected>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                    </div>
            </form>

        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Price</h6>
            <div class="cartPrice"> ${{cartdata.product.finalPrice | number:'1.2-2'}}</div>

        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Total Price</h6>
            <div class="cartTotalPrice"> $17.80</div>

        </li>
    </ul>
    <hr class="borderBottom">
    <!-- <ul class="list-unstyled row  list-group-flush">
        <li class="list-item col-sm-2">
            <img src="../../assets/images/shopping_cart2.png" class="imgProduct">
        </li>
        <li class="list-item col-sm-4">
            <h6 class="productHeading">Tulsi Beyond Balance(Herbal Tea With Medicinal Benefit)</h6>
            <div class="starReview">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>&nbsp;&nbsp;&nbsp;1,091 ratings | 274 reviews
            </div>
            <div class="orderDelivery"><span class="stock">In Stock</span>, order before 23.59 for delivery tomorrow.
            </div>
        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Quantity</h6>
            <form>
                <div class="form-group">
                        <select class="custom-select form-control" id="quantity">
                            <option value="" selected>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
            </form>

        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Price</h6>
            <div class="cartPrice"> $8.90</div>

        </li>
        <li class="list-item col-sm-2">
            <h6 class="productHeading">Total Price</h6>
            <div class="cartTotalPrice"> $17.80</div>

        </li>
    </ul> -->
    <!-- <hr class="cartBorderBottom"> -->
    <p class="shoppingCardTotal">
        <span class="shippingCost">Shipping Cost: </span> <span class="free">Free</span>
        <span class="plus"> + </span> <span class="cartTotal">Cart Total: </span> $ 35.80
    </p>
        <p class="cardButton">
            <button class="btn continueShopping" type="button" (click)="continueShopping()">
                Continue to Shopping
            </button>
            <button class="btn continueOrder" type="button" (click)="continueOrder()">Continue to Order
            </button>
        </p>
</div>