<!--Footer-->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Story of Market</a></li>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">News</a></li>
                </ul>          
                <p>
                    <span class="socialMedia">Social Media: </span>
                    <i class="fab fa-twitter fa-lg marginRightTwitter iconPaddingTwitter"></i>
                    <i class="fab fa-facebook fa-lg marginRight iconPadding"></i>
                    <i class="fab fa-instagram fa-lg iconPadding iconInstagramPadding"></i>
              
                </p>
               
            </div>
            <div class="col-md-4">
                <ul>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>For any inquiry write to us:</h2>
                <form>
                    <div class="form-group">
                    <input type="text" class="form-control" id="contactName" placeholder="Name" name="email">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                    <textarea class="form-control" id="message" rows="3" cols="38" placeholder="Message..." name="message"></textarea>

                    </div>
                    <button type="submit" class="btn btn-primary contactButton">Submit</button>
                </form>
            </div>
        </div>
    </div>
</footer>