<!-- Product Details -->
<div class="container">
    <div class="row productDetail">
        <div class="col-sm-6 col-md-6 productImages">
            <!-- <img src="../../assets/images/main_product_detail.png" class="productImg"> -->
            <img [src]="liveURL? productImg : urlprefix + '/' + productImg" class="productImg">
            <!-- <div class="listProductImg flex-container">
                <img src="../../assets/images/product_det1.png" class="productImg1 productImgMargin productBorderBottom">
                <img src="../../assets/images/product_det2.png" class="productImg1 productImgMargin">
                <img src="../../assets/images/product_det3.png" class="productImg1 ">
            </div> -->

            <div class="listProductImg flex-container">
                <div *ngFor="let slideimg of slideImg" class="slideImgWidthHeight" id="imgspecprodId"
                    name="imgspecprodName">
                    <img [ngClass]="(slideimg.id==selectedSlideId)?'slideImgWidthHeightYellow':'slideImgWidthHeightGrey'"
                        [src]="slideimg.liveURL? slideimg.path : urlprefix + '/' + slideimg.path" class="detailImg"
                        id="clickimgprodId" name="clickimgprodName" (click)="imgClicked(slideimg.id,slideimg, $event)">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 productDscription ">
            <h4 class="productHead">{{productName}}</h4>
            <div class="starReview">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>&nbsp;&nbsp;&nbsp;1,091 ratings | 274 reviews
            </div>
            <div class="row priceBrand">
                <div class="col-sm-3 priceBottomRight">
                    <div class="price">$ {{price | number : '1.2-2'}}</div>
                </div>
                <div class="col-sm-9 BrandSold">
                    <div class="content"><b>Brand:</b> {{brandName}}</div>
                    <div class="content"><b>Sold by: </b>Dreamhouse Tea Dealers</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <select id="inputState1" class="form-control">
                            <option selected>Size - 50grams | 25-30 Servings</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="custom-select form-control" id="quantity">
                            <option value="" selected>Quantity - 1</option>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <h6 class="deliveryHeading">Delivery Details:</h6>
                <div class="content">
                    <b><i class="fas fa-asterisk"></i>&nbsp; &nbsp;Delivery time: </b>Normally delivered in 2-3 business
                    days.
                </div>
                <div class="content">
                    <b><i class="fas fa-asterisk"></i>&nbsp; &nbsp;Shipping charges: </b>Free delivery all around the
                    Netherlands.
                </div>

            </div>

            <p class="cardButton">
                <button class="btn addToCart" type="button" (click)="addToCartPopup()">
                    <i class="fas fa-shopping-bag fa-lg"></i>&nbsp;&nbsp; Add to cart
                </button>
                <button class="btn buyNow" type="button" (click)="order()">
                    <i class="fas fa-thumbs-up"></i>&nbsp;&nbsp;Buy now
                </button>
            </p>
            <div bsModal #addtocartpopup="bs-modal" class="modal fade deletePopup" tabindex="-1" role="dialog"
                aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title addToCartTitle">
                                Product added to cart
                            </h5>

                            <button type="button" class="close modalClose" data-toggle="modal"
                                (click)="hideaddToCartPopup()">
                                &times;
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="row addToCartAdded">
                                <div class="col-sm-4">
                                    <!-- <img src="../../assets/images/Tulsi_Beyond_Balance.png" class="addToCartImg"> -->
                                    <img [src]="liveURL? productImg : urlprefix + '/' + productImg" class="addToCartImg">
                                </div>
                                <div class="col-sm-8">
                                    <h6 class="productHead">{{productName}}</h6>
                                    <div class="starReview">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>&nbsp;&nbsp;&nbsp;1,091 ratings | 274
                                        reviews
                                    </div>
                                    <div class="priceCal">
                                        <div class="content sizePadding"><b>Size: </b>50grams | 25-30 Servings</div>
                                        <div class="content">
                                            <b>Price: </b>$ {{price | number : '1.2-2'}} &nbsp;&nbsp;
                                            <span><b>*</b></span>&nbsp;&nbsp;
                                            <span><b>Quantity: </b>2</span>&nbsp;&nbsp;
                                            <span><b>=</b></span>&nbsp;&nbsp;
                                            <span><b>Total Price: $ 17.80</b></span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="content"><i class="fas fa-plus-square"></i>&nbsp;&nbsp;<b>Note:</b> Plus 1 more
                                product already in cart.</div>


                        </div>

                        <div class="modal-footer buttonMargin">
                            <button type="button" class="btn continueShopping" data-dismiss="modal"
                            (click)="continueShopping()" >
                                Continue shopping
                            </button>
                            <button type="button" class="btn goToCart" data-toggle="modal"
                            (click)="goToCart()" >
                                Go to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 productMargin">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Description</a>
                    <a class="nav-item nav-link " id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">5
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show tabPadding active" id="nav-home" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <p class="content">
                        Tulsi is a herb that has been worshiped for centuries across the Indian subcontinent. The plant
                        is known as Holy Basil in the west and seems to live up to its sacred status possessing a great
                        amount of health benefits.
                    </p>
                    <p class="content">
                        Studies have proven it to be a powerful anti-inflammatory, and immune system modulator, as well
                        as an optimistic treatment for conditions such as, liver disease, arthritis, diabetes, and
                        cancer.
                    </p>
                    <p class="content">
                        Effective as it is for physical ailments, where it truly gains meret is addressing the deeper
                        issues that have to do with the psyche. It’s greatest benefit is known to be its remedial effect
                        on the nervous system. Tulsi is a corticosteroid modulator, meaning that it has the ability to
                        rid stress hormones that course through our bodies on the regular.
                    </p>
                    <p class="content">
                        Paired with other ingredients that are also renowned for their medicinal properties including
                        peppermint, ginger, and black pepper which are known to help clear the sinus, indigestion, and
                        nausea, this blend will bring out the supreme being in you, aligning your mind, body, and soul.
                    </p>
                    <div class="instruction">
                        Instructions:
                    </div>
                    <div>
                        <i class="fas fa-utensil-spoon"></i>&nbsp; &nbsp;&nbsp;<span class="iconLabel">Quantity: </span>
                        <span class="iconText">1-2 Teaspoons</span>
                    </div>
                    <div>
                        <i class="fas fa-clock"></i>&nbsp; &nbsp;&nbsp;<span class="iconLabel">Steep Time: </span><span
                            class="iconText"> 5-7 Minutes</span>
                    </div>
                    <div>
                        <i class="fas fa-temperature-high"></i>&nbsp; &nbsp;&nbsp;<span class="iconLabel">Water
                            Temperature: </span><span class="iconText"> Boiling, 212˚
                            F</span>
                    </div>
                    <div>
                        <i class="fas fa-temperature-high"></i>&nbsp; &nbsp;&nbsp;<span class="iconLabel">Caffeine
                            Content: </span><span class="iconText"> 0mg - Caffeine
                            Free</span>
                    </div>
                    <div class="ingredient">
                        Ingredients:
                    </div>
                    <p class="content">Organic Tulsi, Organic Lemon Myrtle, Organic Ginger, Organic Peppermint, Organic
                        Pepper, Organic Cinnamon Pepper</p>
                </div>
                <div class="tab-pane tabPadding fade" id="nav-profile" role="tabpanel"
                    aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between align-items-center recentReview">
                                <span class="content">Showing 1-5 of 274 reviews</span>
                                <form>
                                    <div class="form-group">
                                        <select id="inputState1" class="form-control">
                                            <option selected>Most Recent</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>

                                </form>
                            </div>

                            <div class="card mb-3 cardCustomWidth">
                                <div class="row no-gutters">
                                    <div class="col-md-2">
                                        <img src="../../assets/images/adv_3.png" class="card-img rounded-circle">
                                    </div>
                                    <div class="col-md-10 cardBodyPadding">
                                        <div class="card-body">
                                            <h6 class="productHeading">Tulsi Beyond Balance(Herbal Tea With Medicinal
                                                Benefit)</h6>
                                            <div class="starReview">
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p class="contentReview">
                                    Paired with other ingredients that are also renowned for their medicinal properties
                                    including
                                    nausea, this blend will bring out the supreme being in you, aligning your mind,
                                    body, and soul.
                                    <a href="#" class="readMore">Read more...</a>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="contentRating">
                                Rating by genuine buyers
                            </div>

                            <div class="row reviewMargin">
                                <div class="col-md-4 starBottomBorder">

                                    <div class="ratingStar">
                                        <span class="rating">5</span>
                                        <div class="fivestarReview">
                                            <div>out of 5 stars</div>
                                            <span class="fa fa-star checked starColor"></span>
                                            <span class="fa fa-star checked starColor"></span>
                                            <span class="fa fa-star checked starColor"></span>
                                            <span class="fa fa-star checked starColor"></span>
                                            <span class="fa fa-star checked starColor"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div><span class="fa fa-star starRatingColor checked">&nbsp;5</span></div>
                                    <div><span class="fa fa-star starRatingColor checked">&nbsp;4</span></div>
                                    <div><span class="fa fa-star starRatingColor checked">&nbsp;3</span></div>
                                    <div><span class="fa fa-star starRatingColor checked">&nbsp;2</span></div>
                                    <div><span class="fa fa-star starRatingColor checked">&nbsp;1</span></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="progress">
                                        <div class="progress-bar" style="width:50%"></div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:40%"></div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:30%"></div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:20%"></div>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:10%"></div>
                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <div class="starNumber">125</div>
                                    <div class="starNumber">122</div>
                                    <div class="starNumber">115</div>
                                    <div class="starNumber">12</div>
                                    <div class="starNumber">12</div>
                                </div>
                            </div>
                            <button class="btn rateReview" type="button">Rate & review this product
                            </button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>