<!-- Header -->
<header>
        <nav class="navbar navbar-expand-lg navbar-dark static-top teaNavbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/images/tea-logo.png" class="teaLogo">
                    </a>
                    <div class="input-group">
                        <input class="form-control py-2 border-right-0 border" type="text" placeholder="Search products..."
                            id="example-search-input">
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent"><i class="fa fa-search fa-lg"></i></div>
                        </span>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav menuBar">
                            <li class="nav-item menuLink">
                                <a class="nav-link" href="#">About Us
                                    <span class="sr-only"></span>
                                </a>
                            </li>
                            <li class="nav-item menuLink">
                                <a class="nav-link" href="#">Tea Stories</a>
                            </li>
                        </ul>  
                                <i class="fas fa-heart fa-lg marginRightHeart iconPaddingHeart"></i>
                                <i class="fas fa-shopping-bag fa-lg marginRight iconPadding"></i>
                                <i class="fas fa-user fa-lg iconPadding iconUserPadding"></i>
                            
                    </div>
                </div>
            </nav>
</header>
