<!-- Register -->
<div class="container productMargin">
    <div class="row">
        <div class="col-md-6 loginBackground">
        <div class="bubble-bg"></div>
            <div class="teaLogo">
                <img src="../../../../assets/images/login_logo.png">
                <hr class="logoBottomBorder">
                <p class="logoText">A cup of tea would restore normally</p>
            </div>
        </div>
        <div class="col-md-6 LoginForm">
            <h4 class="logIn">Sign Up</h4>
            <div class="loginHeading">
                Fill in fields below to continue...
            </div>
            <form class="loginDetail">
                <div class="form-group">
                    <label for="exampleInputName" class="email">Name </label>
                    <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="email">Email </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="password">Password</label>
                    <div class="input-group mx-auto">
                        <input type="password" class="form-control" id="exampleInputPassword1">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="far fa-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="exampleconfirmPassword1" class="password">Confirm Password</label>
                        <div class="input-group mx-auto">
                            <input type="password" class="form-control" id="exampleconfirmPassword1">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon3">
                                    <i class="far fa-eye-slash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                <button type="submit" class="btn loginButton">Sign Up</button>
            </form>
            <div class="account">
                Already have an account? <a href="#" class="signUp">Log In</a>
            </div>
        </div>
    </div>
</div>