<!-- Login -->
<div class="container productMargin">
    <div class="row">
        <div class="col-md-6 loginBackground">
            <div class="bubble-bg"></div>
            <div class="teaLogo">
                <img src="../../../../assets/images/login_logo.png">
                <hr class="logoBottomBorder">
                <p class="logoText">A cup of tea would restore normally</p>
            </div>
        </div>
        <div class="col-md-6 LoginForm">
            <h4 class="logIn">Log In</h4>
            <div class="loginHeading">
                Fill in fields below to continue...
            </div>
            <form class="loginDetail" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="email">Email </label>
                    <input type="email" name="email" formControlName='email'  id="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && signIn.email.errors }" required>
                    <div *ngIf="submitted && signIn.email.errors" class="invalid-feedback" > 
                        <div *ngIf="signIn.email.errors.required">Email is required</div>
                        <div *ngIf="signIn.email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="password">Password</label>
                    <div class="input-group mx-auto">
                        <input [type]="showPassword ? 'text' : 'password'"  class="form-control" name="password" formControlName='password' id="password"
                        [ngClass]="{ 'is-invalid': submitted && signIn.password.errors }" required>
                        <div class="input-group-append" >
                            <span class="input-group-text" id="basic-addon2" (click)="password()" name="hideLoginPassword">
                                <i [ngClass]="showPassword ? 'far fa-eye' : 'far fa-eye-slash'" ></i>
                            </span>
                        </div>
                        <div *ngIf="submitted && signIn.password.errors" class="invalid-feedback" >
                            <div *ngIf="signIn.password.errors.required">Password is required</div>
                            <div *ngIf="signIn.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn loginButton" id="loginButton" name="loginButton">Log In</button>
            </form>
            <div [ngClass]="(submitted==true)?'account':'account1'">
                Dont't have an account? <a href="#" class="signUp" id="signUp" name="signUp" [routerLink]="['/register']" >Sign Up</a>
            </div>
        </div>
    </div>
</div>