<div class="container">
    <div class="row greenTeaStorieMargin">
        <div class="col-sm-6 col-md-6 ">
            <div class="teaImg">
                <img src="../../assets/images/greenTea.png" class="productImg">
            </div>

        </div>
        <div class="col-sm-6 col-md-6 ">
            <h4 class="productHead">Green Tea</h4>
            <p class="content">
                Green tea is made by withering tea leaves - and then steaming, rolling and drying them. It undergoes
                minimal processing, and contains 80-90% catechins and flavanols (10% of total flavonoids). The infused
                leaf is green, and the liquor is mild, pale green or lemon-yellow.
            </p>
            <p class="content">
                Green Tea is plucked, withered and rolled. It is not oxidized because during the rolling process,
                oxidation is prevented by applying heat.
            </p>
            <p class="mapMargin">
                <b>Produced in:&nbsp;&nbsp;&nbsp;</b>
                <span class="content"><img src="../../assets/images/india.png">&nbsp;India,&nbsp;&nbsp;&nbsp;</span>
                <span class="content"><img src="../../assets/images/china.png">&nbsp;China,&nbsp;&nbsp;&nbsp;</span> 
                <span class="content"><img src="../../assets/images/sri-lanka.png">&nbsp;Sri Lanka, &nbsp;&nbsp;&nbsp;</span>
                <span class="content"><img src="../../assets/images/nepal.png">&nbsp;Nepal</span>
            </p>
            <button class="btn exploreTea" type="button">
                Explore Green Teas&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="row teaStorieMargin">
            <div class="col-sm-6 col-md-6 ">
                <h4 class="productHead">White Tea</h4>
                <p class="content">
                        White tea is appreciated by tea connoisseurs for its unmatched subtlety, complexity and natural sweetness. It is also considered to be a far greater source of antioxidants than green tea because the tea leaves undergo minimum processing.
                </p>
                <p class="content">
                        White Tea is essentially unprocessed tea. The name is derived from the fuzzy white "down" that appears on the unopened or recently opened buds - the newest growth on the tea bush.
                </p>
                <p class="mapMargin">
                    <b>Produced in:&nbsp;&nbsp;&nbsp;</b>
                
                    <span class="content"><img src="../../assets/images/china.png">&nbsp;China,&nbsp;&nbsp;&nbsp;</span> 
                    <span class="content"><img src="../../assets/images/india.png">&nbsp;India,&nbsp;&nbsp;&nbsp;</span>
                    <span class="content"><img src="../../assets/images/japan.png">&nbsp;Japan, &nbsp;&nbsp;&nbsp;</span>
                    <span class="content"><img src="../../assets/images/taiwan.png">&nbsp;Taiwan</span>
                </p>
                <button class="btn exploreTea" type="button">
                    Explore White Teas&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
                </button>
            </div>
            <div class="col-sm-6 col-md-6 ">
                    <div class="teaImg">
                        <img src="../../assets/images/whiteTea.png" class="productImg">
                    </div>
        
                </div>
        </div>


        <div class="row teaStorieMargin">
                <div class="col-sm-6 col-md-6 ">
                        <div class="teaImg">
                            <img src="../../assets/images/oolongTea.png" class="productImg">
                        </div>
            
                    </div>
                <div class="col-sm-6 col-md-6 ">
                    <h4 class="productHead">Oolong Tea</h4>
                    <p class="content">
                            Oolong tea is a partially or semi-fermented tea. A full-bodied tea with a fragrant flavour and sweet fruity aroma, it has some qualities of both black tea and green tea due to its manufacturing process. It is more suitable for people who prefer a low caffeine option.    </p>
                    <p class="content">
                            Oolong Tea is one of the most time-consuming teas to create. It utilizes all of the five basic steps, with rolling and oxidizing done repeatedly.        </p>
                    <p class="mapMargin">
                        <b>Produced in:&nbsp;&nbsp;&nbsp;</b>
                    
                        <span class="content"><img src="../../assets/images/china.png">&nbsp;China,&nbsp;&nbsp;&nbsp;</span> 
                        <span class="content"><img src="../../assets/images/india.png">&nbsp;India,&nbsp;&nbsp;&nbsp;</span>
                        <span class="content"><img src="../../assets/images/japan.png">&nbsp;Japan, &nbsp;&nbsp;&nbsp;</span>
                        <span class="content"><img src="../../assets/images/sri-lanka.png">&nbsp;Sri Lanka, &nbsp;&nbsp;&nbsp;</span>
                    </p>
                    <button class="btn exploreTea" type="button">
                        Explore Oolong Teas&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
                    </button>
                </div>
 
            </div>


            <div class="row teaStorieMargin">

                    <div class="col-sm-6 col-md-6 ">
                        <h4 class="productHead">Black Tea</h4>
                        <p class="content">
                                Black tea involves additional processing (i.e. aeration and withering). As a result, it has different levels of catechin (20–30%) and flavonoid content (theaflavins and thearubigins represent 10% and 50–60% of total flavonoids respectively).
                        </p>
                        <p class="content">
                                Black Tea also utilizes all five basic steps, but is allowed to oxidize more completely. Also, the steps are followed in a very linear form; they are generally not repeated on a single batch.
                        </p>
                        <p class="mapMargin">
                            <b>Produced in:&nbsp;&nbsp;&nbsp;</b>
                        
                            <span class="content"><img src="../../assets/images/india.png">&nbsp;India,&nbsp;&nbsp;&nbsp;</span>
                            <span class="content"><img src="../../assets/images/china.png">&nbsp;China,&nbsp;&nbsp;&nbsp;</span> 
                            <span class="content"><img src="../../assets/images/sri-lanka.png">&nbsp;Sri Lanka, &nbsp;&nbsp;&nbsp;</span>
                              <span class="content"><img src="../../assets/images/taiwan.png">&nbsp;Taiwan</span>
                        </p>
                        <button class="btn exploreTea" type="button">
                            Explore Black Teas&nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-6 ">
                            <div class="teaImg">
                                <img src="../../assets/images/blackTea.png" class="productImg">
                            </div>
                
                        </div>
                </div>
    

</div>