<!-- Order Confirm -->
<div class="container">
    <div class="row paymentMode">
        <div class="col-md-6 ">
            <h6 class="mb-3 headingOrder">Order Confirmation</h6>
            <div class="content"><b>Order Address:&nbsp;&nbsp;Roy Reid</b></div>
            <p class="orderAddress">
                Westzaanstraat 10, 1013 NG Amsterdam, Netherlands<br />
                Landmark/Locality: Near gas station<br />
                Postal Code: 1013 NG<br />
                Mobile Number: +31-207-7977-35/+31-655-5165-45<br />
                <b>Address Type: Office</b>
            </p>
            <p class="content">
                <span><b>Payment Status:&nbsp;&nbsp;</b>Card Payment(Done)</span>
            </p>
            <p class="content">
                <span><b>Order Date & Time: &nbsp;&nbsp;</b>18 January 2020 5.21pm</span>
            </p>
        </div>

        <div class="col-md-6">
            <h6 class="mb-3 headingOrder">Ordered Products</h6>
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr class="content">
                            <th>#</th>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="content">
                            <td class="text-center">1</td>
                            <td>Tulsi Beyond Balance(Herbal Tea With Medicinal Benefit)</td>
                            <td class="text-center">2</td>
                            <td>$ 8.90</td>
                            <td>$ 17.80</td>
                        </tr>
                        <tr class="content">
                            <td class="text-center">2</td>
                            <td>BOP - Broken Orange Pekoe Chai(Medicinal Tea)</td>
                            <td class="text-center">2</td>
                            <td>$ 9.00</td>
                            <td>$ 18.00</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="mb-3 floatRight content">
                <p>
                    <b>Shipping Cost: </b> <span class="free">Free </span>&nbsp; +&nbsp;
                    <b>Cart Total:</b> $ 35.80
                </p>

            </div>
        </div>

        
              
    </div>
</div>
   
            <div class="orderSteps">
                    <h6 class="headingNext"> What happens next?</h6> 
                    <div class="card-deck ">
                      
                            <div class="card">
                
                            <span class="badge badge-secondary badge-pill orderItems ">STEP 1</span>
                              <img src="../../assets/images/order_placed.png" class="imgProduct">
                              <div class="card-body text-center">
                                <h5 class="content"><b>Order Placed</b></h5>
                                <p class="content">Order is placed through our web portal or by mobile application.</p>
                        
                              </div>
                            </div>
                            <div class="card cardBackGround">
                                    <span class="badge badge-secondary badge-pill orderItems cardStepColor ">STEP 2</span>
                                    <img src="../../assets/images/confirm_code.png" class="imgProduct">
                                    <div class="card-body text-center">
                                      <h5 class="content1"><b>Confirmation Code</b></h5>
                                      <p class="content1">Confirmation code and order details are sent to your phone and email id.</p>
                              
                                    </div>
                                  </div>
                                  <div class="card">
                                        <span class="badge badge-secondary badge-pill orderItems ">STEP 3</span>
                                        <img src="../../assets/images/order_packed.png" class="imgProduct">
                                        <div class="card-body text-center">
                                          <h5 class="content"><b>Order is Packed</b></h5>
                                          <p class="content">Order is sent to warehouse for packing and made shipping ready.</p>
                                  
                                        </div>
                                      </div>
                                      <div class="card">
                                            <span class="badge badge-secondary badge-pill orderItems ">STEP 4</span>
                                            <img src="../../assets/images/shipping_schedule.png" class="imgProduct">
                                            <div class="card-body text-center">
                                              <h5 class="content"><b>Shipping is Schedule</b></h5>
                                              <p class="content">Oder is sent to warehouse for packing and made shipping ready.</p>
                                      
                                            </div>
                                          </div>
                                          <div class="card">
                                                <span class="badge badge-secondary badge-pill orderItems ">STEP 5</span>
                                                <img src="../../assets/images/delivered.png" class="imgProduct">
                                                <div class="card-body text-center">
                                                  <h5 class="content"><b>Delivered to You!</b></h5>
                                                  <p class="content">Shipping is scheduled according to your convenience and time.</p>
                                          
                                                </div>
                                              </div>
                       
                            </div>
            </div>
    
    

      

