/* Custom CSS */
.productMargin{
    padding:50px 0px 30px 0px;
}
.cardCustomWidth{
    // padding: 15px;
    box-shadow: 0px 3px 6px #00000029;
    // background-color: #F9F9F9;
    border: 2px solid #F1F1F1;
}
.cardBodyPadding{
    padding-left: 10px;
}
.advText{
    color: #A1A1A1 !important;
    font-family: "Montserrat" !important;
    font-weight: bold !important;
    font-size: 16px;
}
.checkDeal {
    background-color: #4CBB3B !important;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    float: left;
    font-weight: bold;
    font-family: "Montserrat" !important;
    margin-top: 25px;
}
.card-img{
    display: block;
    width: 100%;
    object-fit: scale-down!important;
    border: none!important;
}
.selectFilter{
    padding: 40px 220px 25px 220px;
    background-color: #F9F9F9 ;
}
.productList{
    padding: 5px 50px 5px 50px;
}
.productSearchMargin{
    margin-top: 20px;
}
.searchImg  {
    display: block;
    width: 100%;
    object-fit: scale-down!important;
    height: 200px!important;
    border: none!important;

  }
  button:focus {
    outline: none!important;
    box-shadow: none!important;
}
  .searchImgMargin{
    margin-bottom: 15px!important;
  }
.form-control{
    color: #999999 !important;
    font-family: "Montserrat"   ;
    font-weight: bold !important;
    font-size: 12px!important;;  
    text-align: center;
}
.form-control:focus{
    box-shadow: none!important;
}

// Media Queries
  @media screen and (min-width: 768px) and (max-width: 991px) { 
    .checkDeal {
        font-size: 6px;
    }
    .selectFilter{
        padding: 40px 150px 25px 150px;
    }
}
@media screen and (min-width: 575px) and (max-width: 767px) { 
    .checkDeal {
        font-size: 5px;
   
    }
}
@media screen and (max-width: 767px) { 
    .selectFilter{
        padding: 40px 150px 25px 150px;
    }
}


//search List

/* Custom CSS*/
.card{
    position: relative;
    border:none;
  }
  .cardBorder{
    padding:20px;
    position: relative;
  }

  .card-header {
    padding: 0px!important;
    margin-bottom: 0;
    background-color:white!important;
    border-bottom: none!important;
}
  .imgProduct  {
    display: block;
    width: 70%;
    object-fit: scale-down!important;
    border: none!important;
    margin-bottom: 20px;
  }

  .card-body {
   padding:0px!important;
}
.fa-leaf{
    color: #4CBB3B;
    cursor: pointer;
    margin-top: 4px;
}

.card-title{
    color: #666666!important;
    font-family: 'Montserrat'!important;
    font-weight: bold!important;
    text-align: center;
    font-size: 16px;
    height: 4.5vh;
}
.card-text{
    color: #666666!important;
    font-family: 'Montserrat'!important;
    font-size: 14px; 
    padding-bottom: 5px;
}
.productPrice{
    font-weight: bold!important; 
    padding-bottom: 10px;
}

.productMargin{
    margin-top: 50px;
    margin-bottom: 30px;
}
.addToBag {
    background-color: #c1c1c1 !important;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: bold;

}
.quickBuy{
    background-color: #4CBB3B!important;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    float: right; 
    font-weight: bold;
}
.cardButton{
    text-align: left;
}

  .textSize{
    font-size: 10px!important;
  }
  .paddingBorder{
    padding:0px!important;
  }
  .priceQuantity1{
    font-size: 14px;
  }
  .qtyFontSize{
    font-size: 9px!important;
  }
  .numberCircle {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    padding: 6.5px 11px 6px 11px;
    background: red;
    color: white;
    font-weight: bold;
}

.addToCartAdded{
    margin-bottom: 30px;
}
.productImg{
    display: block;
    width: 70%;
    object-fit: scale-down!important;
    border: none!important;
    margin: auto;
}
.productImg1{
    display: block;
    width:40%;
    object-fit: scale-down!important;
    border: none!important;
  
}
.productImgMargin{
    margin-right: 10px;
}
.productBorderBottom{
    border-bottom: 2px solid #4CBB3B!important;
}
.listProductImg{
        display: inline-flex;
        padding: 0px 15%;
}
.fa {
    font-size: 12px;
  }

  .checked {
    color: orange;
  }
  .productHeading{
    color: #999999;
    font-family: 'Montserrat'!important;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px!important;
  }

  .starReview, .fivestarReview,.orderNow{
    color: #999999;
    font-size: 14px;

  }
  .productHead, .deliveryHeading{
    color: #4CBB3B;
    font-weight: bold;
  }
  .productHead{
    font-size: 18px;
}
  
  .fa {
    font-size: 14px;
  }
  
  .checked {
    color: orange;
  }

  .starReview, .orderDelivery,.cartPrice, .cartTotalPrice{
    color: #999999;
    font-size: 14px;
  }

  .priceBottomRight{
    border-right: 1px solid #ddd7d7;
    color: #999999;
    font-size:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  .priceBrand{
      margin:25px 0px;
  }
  .addToCart {
    background-color: #c1c1c1 !important;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    width: 30%;
}
.buyNow{
    background-color: #4CBB3B!important;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    width: 40%;
    font-weight: bold;
}
.cardButton{
    margin-top: 20px;
}

.addToCartTitle, .modalClose{
    color: #999999;
    font-weight: bold;
}
.modal-content{
    padding: 0px 20px!important;
}
.modal-header {
    padding: 1rem 0rem!important;
 
}
.modal-body{
    margin-bottom: 30px;
}

.content,.quantity{
    color: #999999;
    font-size:14px;
}

    .priceBrand{
        margin:25px 0px;
    }

    .modal-header {
        border-bottom: none!important;
    }
    .form-control{
        color: #999999 !important;
        font-family: "Montserrat"   ;
        font-weight: bold !important;
        font-size: 14px!important;;  
        text-align: center;
    }
    .form-control:focus{
        box-shadow: none!important;
    }
 
    .loginExistingButton{
        background-color: #4CBB3B!important;
        border-radius: 30px;
        color: white;
        font-size: 12px;
        font-weight: bold;  
    }
    .loginGuest{
        background-color: #c1c1c1 !important;
        border-radius: 30px;
        color: white;
        font-size: 12px;
        padding: 5px 50px;
        font-weight: bold;  
    }
    .productOrderNow{
        display: block;
        margin:auto;
        width: 50%;
        object-fit: scale-down!important;
        border: none!important;
        margin-bottom: 20px;
    }
    .orderRightBorder{
        border-right: 1px solid #ddd7d7; 
        padding: 0 50px;
        color: #999999;
      }
      .btnPositionRelative{
        position: relative;
      }
      .btnPosition{
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .orderOption{
        padding: 12px 0px 0px 0px;
        color: #999999;
    }

//Media Queries
@media screen and (min-width: 768px) and (max-width: 1199px) { 
    .cardButton{
        text-align: left;
    }
    .addToBag{
        margin-bottom: 10px;
    }
    .quickBuy{
        float: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
    .addToBag, .quickBuy{
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) { 
    .cardButton{
        text-align: left;
    }
    .addToBag{
        font-size: 5px;
        margin-bottom: 10px;
    }
    .quickBuy{
        font-size: 5px;
        float: inherit;
    }
 
}

@media screen and (max-width: 575px) { 
    .cardButton{
        text-align: left;
    }
    .addToBag{
        font-size: 5px;
        margin-bottom: 10px;
    }
    .quickBuy{
        font-size: 5px;
        float: right;
    }
       .imgProduct  {
        width: 100%;
      }
 
}
 
@media screen and (min-width:576px) and (max-width:767px){
    
    #inputState1.form-control {
        width: 176px!important;
        padding: 0.375rem 0.33rem !important;
    }
    .buyNow{
        width:70%!important; 
    }
    .priceBottomRight {
        font-size: 12px!important;
    }
    
    }
@media (min-width: 576px){
        .modal-dialog {
            max-width: 80%;
            height: auto;
            margin: 1.75rem auto;
        }
    }
@media screen and (max-width:767px){
        .btnPositionRelative{
            position: relative;
                  }
                  .btnPosition{
                    top: 50%;
                    position: inherit!important;
                    left: 50%;
                    transform: translate(-50%, -50%);
        }
        .listProductImg{
            display: flex;
            padding: 0px;
        }
        .productImg1{
            width:30%!important;
        }
        .priceBottomRight {
            font-size: 15px; 
        }
        .addToCart {
            margin-right: 15px;
            width: 55%;
        }
        .buyNow{ 
            width:55%;
            margin-top: 15px;  
        }
    }
    .withHeightProduct{
        height:auto;
         width:auto;
      }
@media screen and (min-width:767px) and (max-width:991px){
        .listProductImg{
            display: flex;
        padding: 0px;
     
        }
     
        .productImg1{
            width:30%!important;
        }
        .addToCart {
     
            margin-right: 15px;
            width: 40%;
        
        }
        .buyNow{
         
            width:50%!important;
           
        }
        .priceBottomRight {
       
            font-size: 12px;
         
          
        }
      
    }
    
