<!-- Advertisement -->
<div class="container productMargin">
    <div class="card-deck ">
        <div class="card mb-3 cardCustomWidth">
                <img src="../../assets/images/advertisement1.png" class="card-img">
            <!-- <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/images/adv_2.png" class="card-img">
                </div>
                <div class="col-md-8 cardBodyPadding">
                    <div class="card-body">
                        <h5 class="advText">Black Friday deals on Black Teas.</h5>
                        <button class="btn checkDeal" type="button">Check Deal
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="card mb-3 cardCustomWidth">
                <img src="../../assets/images/advertisement2.jpg" class="card-img">
            <!-- <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/images/adv_2.png" class="card-img">
                </div>
                <div class="col-md-8 cardBodyPadding">
                    <div class="card-body">
                        <h5 class="advText">Black Friday deals on Black Teas.</h5>
                        <button class="btn checkDeal" type="button">Check Deal
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="card mb-3 cardCustomWidth">
                <img src="../../assets/images/advertisement3.jpg" class="card-img">
            <!-- <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/images/adv_3.png" class="card-img">
                </div>
                <div class="col-md-8 cardBodyPadding">
                    <div class="card-body">
                        <h5 class="advText">Black Friday deals on Green Teas.</h5>
                        <button class="btn checkDeal" type="button">Check Deal
                        </button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Banner List -->
<app-banner-list></app-banner-list>

<!-- Search Filter -->
    <div class="selectFilter">
    <form>
        <div class="form-row">
            <div class="form-group  col-md-2">
                <select id="inputState1" class="form-control">
                    <option selected>Category</option>
                    <option>Cat1</option>
                    <option>Cat2</option>
                    <option>Cat3</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select id="inputState2" class="form-control">
                    <option selected>Type</option>
                    <option>Type1</option>
                    <option>Type2</option>
                    <option>Type3</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <select id="inputState3" class="form-control">
                    <option selected>Brand</option>
                    <option>Brand1</option>
                    <option>Brand2</option>
                    <option>Brand3</option>
                </select>
            </div>
      
        </div>
    </form>
</div>

<!-- Product List -->
<div class="productList">
        <app-product-list></app-product-list>
</div>